doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/myjobs.css')

  body
    h1 My Jobs
    each job in job_list
      li
        p #{job.position}
        p #{job.company}
        p #{job.startdate}
        p #{job.enddate}
        p #{job.description}

    else
      li There are no jobs to display.
    hr
    p
      a(href='/profile/addjob') Add Job
    p
      a(href='/profile/removejob') Remove Job
